<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Add new Todo:</h2>
    <form action="/todo/addTodo" method="post">
        <input type="text" name="title" value="" />
        <button type="submit">Add</button>
    </form>
</body>
</html>