
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>ToDos for Today:</h2>
    <a href="/todo/addTodo">Add new Todo</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>ToDo</th>
                <th>Urgent</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Model)
            {
                <tr>
                    <td>@todo.Id</td>
                    <td>@todo.Title</td>
                    <td>@todo.IsUrgent</td>
                    <td>@todo.IsDone</td>
                    <td><a href="/todo/delete?id=@todo.Id">delete</a></td>
                    <td><a href="/todo/update?id=@todo.Id&title=@todo.Title">edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

