
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">ToDos for Today:</h2>
        <p class="text-center"><a href="/todo/addTodo" type="button" class="btn btn-warning, text-center">Add new Todo</a></p>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ToDo</th>
                    <th>Urgent</th>
                    <th>Done</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].Title</td>
                    <td>@Model[i].IsUrgent</td>
                    <td>@Model[i].IsDone</td>
                    <td><a href="/todo/delete?id=@Model[i].Id" class="btn btn-danger">delete</a></td>
                    <td><a href="/todo/update?id=@Model[i].Id&title=@Model[i].Title" type="button" class="btn btn-success">edit</a></td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</body>
</html>

